<div class="row header">
  <div class="col-sm">
    <h4>Products</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm list-action-button">
    <a href="#" class="btn btn-link float-right links-primary fa fa-filter fa-lg action-label">Filter</a>
    <a href="#" routerLink="add" class="btn btn-link float-right fa fa-file fa-lg action-label">Add New</a>
  </div>
</div>

<div class="row content">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr>

        <th scope="col">lastName</th>
        <th scope="col">firstName</th>
        <th scope="col">id</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.id}}</td>


      </tr>
      </tbody>
    </table>
  </div>
</div>
