<div class="row">
  <div class="col-sm list-action-button">
    <a class="btn btn-link float-right links-primary fa fa-filter fa-lg action-label" href="#">Filter</a>
    <a class="btn btn-link float-right fa fa-file fa-lg action-label" href="#" routerLink="add">Add New</a>
  </div>
</div>

<div class="row content">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">LastName</th>
        <th scope="col">FisrtName</th>
        <th scope="col">Id</th>

      </tr>
      </thead>
      <button class="align-self-center mx-auto" (click)="refresh()">Refresh</button>
      <tbody>
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.id}}</td>
        <td (click)='edit(user)'>X</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
