

<div class="row">
  <div class="col-sm list-action-button">
    <a href="#" class="btn btn-link float-right links-primary fa fa-filter fa-lg action-label">Filter</a>
    <a href="#" routerLink="add" class="btn btn-link float-right fa fa-file fa-lg action-label">Add New</a>
  </div>
</div>

<div class="row content">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">LastName</th>
        <th scope="col">FisrtName</th>
        <th scope="col">Id</th>

      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of users ; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.id}}</td>
        <td (click)='edit(user)'>X</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
